gux-button {
  width: 80px;
  padding: 0px 5px;
}

gux-card-beta h3 {
  margin: 0;
}

.align-right {
  margin-left: auto;
}

.align-left {
  margin-right: auto;
}

.add-to-divs {
  display: flex;
  align-items: center;
}

.add-to-input {
  width: 300px;
}

.admin-hidden {
  display: none;
}

.admin-visible {
  display: block;
}

.add-to-divs.admin-visible {
  display: flex;
  align-items: center;
}

.horizontal-checkbox-group {
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hidden-column {
  display: none;
}

.checkbox-container gux-form-field-checkbox {
  margin-right: 10px; /* Adjust the spacing between checkboxes as needed */
}

/* Management tools */
gux-button[management-button="true"] {
  width: 95%;
  padding: 10px;
}

#management-tools-div {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Adjust the gap between containers as needed */
}

.management-tools-container {
  width: 400px;
  height: 160px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.response-container {
  width: 95%; /* Match the width of the button */
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* End of Management tools */
