gux-button {
  width: 80px;
  padding: 0px 5px;
}

/* Override styles for specific buttons identified by the attribute 'data-special' */
gux-button[management-button="true"] {
  width: 500px; /* Example override */
  padding: 10px; /* Example override */
}

.align-right {
  margin-left: auto;
}

.align-left {
  margin-right: auto;
}

.add-to-divs {
  padding: 10px;
  display: flex;
  align-items: center;
}

.admin-hidden {
  display: none;
}

.admin-visible {
  display: block;
}

.add-to-divs.admin-visible {
  padding: 10px;
  display: flex;
  align-items: center;
}
